@charset 'utf-8';

/* 서체 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&display=swap');

/* reset */
body {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
h1, h2, h3, h4, h5, h6 {font-size:16px; font-weight: 400;}
h1, h2, h3, h4, h5, h6, body, div, p, dl, dt, dd, ul, ol, li, form, fieldset, blockquote, address, table, thead, tbody, tfoot, tr, td, caption {margin:0; padding:0;}
li {list-style:none;}
a {text-decoration: none;}

/* 위치 */
.location-name {
  background-color: #202124;
  text-align: center;
  line-height: 80px;
  height: 80px;
}
.location-name > h2 {
  color: #fff;
}

/* 날씨 */
.weather-info {
  background-color: #61C2D3;
  border-radius: 40px;
  width: 50%;
  min-width: 350px;
  height: 180px;
  margin: 25px auto;
}
.weather-info > h3 {
  font-size: 0;
}
.weather-info > .weather {
  position: relative;
  color: #fff;
  text-align: right;
  height: 180px;
  background: no-repeat 15% center/ 180px;
}
.weather-info > .weather > h4 {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 16px;
  position: absolute;
  left: 65%;
  top: 30%;
  transform: translate(0, -30%);
}
.weather-info > .weather > .weather-temp {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 35px;
  position: absolute;
  left: 65%;
  top: 50%;
  transform: translate(0, -50%);
}
.weather-info > .weather > .weather-pty {
  position: absolute;
  left: 65%;
  bottom: 20%;
  transform: translate(0, -20%);
}

/* 미세먼지 */
.pm-info {
  background-color: #367CE4;
  border-radius: 40px;
  width: 50%;
  min-width: 350px;
  height: 180px;
  margin: 25px auto;
}
.pm-info > h3 {
  font-size: 0;
}
.pm-info > .pm {
  position: relative;
  color: #fff;
  text-align: right;
  height: 180px;
  background: no-repeat 25% center/ 120px ;
}
.pm-info > .pm > .pm-grade {
  position: absolute;
  left: 65%;
  top: 35%;
  transform: translate(0, -35%);
  font-size: 35px;
}
.pm-info > .pm > .pm-value {
  position: absolute;
  left: 65%;
  bottom: 25%;
  transform: translate(0, -25%);
}

/* 메뉴 추천 */
.today-menu {
  background-color: #FFD10B;
  border-radius: 40px;
  width: 50%;
  min-width: 350px;
  height: 180px;
  margin: 25px auto;
  padding: 50px;
  box-sizing: border-box;
  text-align: center;
}
.today-menu > h3 {
  font-size: 20px;
  margin-bottom: 20px;
}
.today-menu > button {
  background-color: #fff;
  border-color: transparent;
  cursor: pointer;
  width: 100%;
  height: 30px;
  transition: all 0.2s linear;
  box-shadow: 1px 1px 1px 1px #dadce0;
}
.today-menu > button:hover {
  transform: scale(1.1);
}
.today-menu > button:active {
  margin-left: 2px;
  margin-top: 2px;
}

/* 추천 메뉴 팝업창 */
.today-menu-lightbox {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #4D4D4D;
  z-index: 100;
}
.pick-menu {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 110;
  background: no-repeat center / 400px;
}
.pick-menu > .pick-menu-img {
  border-radius: 50%;
  position: fixed;
  width: 250px;
  height: 250px;
  left: 50%;
  top: 42%;
  transform: translate(-50%, -42%);
}
.pick-menu > .pick-menu-name {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 30px;
  position: fixed;
  left: 50%;
  bottom: 22%;
  transform: translate(-50%, -22%);
}

.pick-menu-lightbox.on {
  display: block;
}
.pick-menu.on {
  display: block;
}

/* ~ 767 */
@media screen and (max-width: 767px) {
}
/* 768 ~ 989 */
@media screen and (min-width: 768px) and (max-width: 989px) {
  body {
    background-color: #6472F0;
  }

  .wrap {
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    padding: 5%;
  }

  /* 위치 */
  .location-name {
    border-radius: 25px; 
  }

  /* 날씨 & 미세먼지 */
  .location-info {
    display: flex;
  }

  /* 날씨 */
  .weather-info {
    min-width: 180px;
    margin-right: 5%;
  }

  /* 미세먼지 */
  .pm-info {
    min-width: 180px;
  }

  /* 메뉴 추천 */
  .today-menu {
    width: 100%;
    margin: 0;
  }
  .today-menu > button {
    width: 80%;
  }
}
/* 990~ */
@media screen and (min-width: 990px) {
  body {
    background-color: #6472F0;
  }

  .wrap {
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    padding: 5%;
  }

  /* 위치 */
  .location-name {
    border-radius: 25px; 
  }
  .location-name > h2 {
    font-size: 18px;
  }

  /* 날씨 & 미세먼지 */
  .location-info {
    display: flex;
  }

  /* 날씨 */
  .weather-info {
    min-width: 180px;
    height: 250px;
    margin-right: 5%;
    text-align: center;
  }
  .weather-info > h3 {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 25px;
    color: #fff;
    margin: 15px 0;
  }
  .weather-info > .weather {
    border-radius: 25px; 
    position: relative;
    color: #000;
    text-align: right;
    height: 150px;
    width: 80%;
    margin: 0 auto;
    background: #fff no-repeat 15% center/ 180px;
  }
  .weather-info > .weather > h4 {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 16px;
    position: absolute;
    left: 65%;
    top: 25%;
    transform: translate(0, -25%);
  }
  .weather-info > .weather > .weather-temp {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 35px;
    position: absolute;
    left: 65%;
    top: 50%;
    transform: translate(0, -50%);  
  }
  .weather-info > .weather > .weather-pty {
    position: absolute;
    left: 65%;
    bottom: 15%;
    transform: translate(0, -15%);
  }

  /* 미세먼지 */
  .pm-info {
    min-width: 180px;
    height: 250px;
    text-align: center;
  }
  .pm-info > h3 {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 25px;
    color: #fff;
    margin: 15px 0;
  }
  .pm-info > .pm {
    border-radius: 25px; 
    position: relative;
    color: #000;
    text-align: right;
    height: 150px;
    width: 80%;
    margin: 0 auto;
    background: #fff no-repeat 25% center/ 120px ;
  }
  .pm-info > .pm > .pm-grade {
    position: absolute;
    left: 65%;
    top: 30%;
    transform: translate(0, -30%);
    font-size: 35px;
  }
  .pm-info > .pm > .pm-value {
    position: absolute;
    left: 65%;
    bottom: 20%;
    transform: translate(0, -20%);
  }

  /* 메뉴 추천 */
  .today-menu {
    width: 100%;
    margin: 0;
  }
  .today-menu > button {
    width: 70%;
  }
}